
html{
    box-sizing: border-box;
    font-size: 60.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}



img{
    width: 100%
}
.velo-negro{
    background-color: rgba(185, 224, 255, 0.356);
} 
.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}

.header{
    display: flex;
    justify-content: center;
}

.logo-img{
    max-width: 40rem;
    margin: 3rem 0;
}

nav{
    margin: 3rem 0 8rem 0;
    background-color: rgb(195, 223, 248);
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
a{
    text-decoration: none;
}
nav a{
font-family: Arial, Helvetica, sans-serif;
font-weight: 800;
font-size: 2rem;
color: rgb(0, 0, 0);
text-transform: uppercase;
}

nav a:hover{
color:rgb(255, 255, 255);
}

.nuestrosproductos{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.productos{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
}

.producto{
    background-color: rgb(195, 223, 248);
    margin: 1rem;
    padding: 1rem;
}

.producto-blanco{
    background-color: white;
    height: 48rem;
    object-fit: contain;
    padding: 1rem;

}

.productoinformacion{
color: white;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
text-align: center;
}

.productoPrecio{
    font-size: 2.5rem;
    font-weight: 500;
}

.productoDescripcion{
    font-size: 3rem;
    font-weight: 800;
}

.footer{
    background-color: black;
    padding: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    color:white;
    font-size: 2rem;
    text-align: center;
}

.bloques{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20rem;    
}

.bloques img{
    width: 15rem;
    height: 10rem;
}



.nosotros{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
    margin-bottom: 20rem;
}

.nosotrosText{
    color:rgb(3, 3, 3);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.cotenedorS{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 400px;
  }
  
  ul.slider li {
      position: absolute;
      left: 40%;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 100%;
    
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(155, 171, 241);
    padding: 0px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 0px;
}

